* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.header {
  grid-area: header; }
  .header nav ul li:hover {
    background-color: rgba(0, 0, 255, 0.263);
    border-radius: solid black;
    transform: scale(1.1, 1.1); }

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #4f4fd6;
  color: white; }

.container1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.3fr 1fr 1fr 0.3fr;
  grid-template-areas: "header header header header" "moving moving moving moving" "section2 section2 section3 section3" "footer footer footer footer"; }
  .container1 .moving {
    grid-area: moving; }
  .container1 .section2 {
    grid-area: section2; }
  .container1 .section3 {
    grid-area: section3; }

.container2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0,3fr 1fr 1fr 0.3fr;
  grid-template-areas: "header header header header" "section1 section1 section2 section2" "section3 section3 section4 section4" "footer footer footer footer"; }
  .container2 .section1 {
    grid-area: section1; }
  .container2 .section2 {
    grid-area: section2; }
  .container2 .section3 {
    grid-area: section3; }
  .container2 .section4 {
    grid-area: section4; }

.h2 {
  border-radius: 3px;
  color: #0a0a0a;
  padding: 5px;
  text-align: center; }

/*Query Index y empresa*/
@media screen and (max-width: 600px) {
  .container1 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "moving" "section2" "section3" "footer"; }
  .container2 {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "section1" "section2" "section3" "section4" "footer"; } }
